<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Picture Of Day</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.3.0/mdb.min.css" rel="stylesheet"/>
</head>
<body>
<img id="img-of-the-day" alt="Picture of day" src="" width="500" height="500">
<form th:action="@{/create}" th:object="${comment}" method="post">
    <h3>Rate: </h3>
    <select th:field="*{rate}">
        <option th:value="1" th:text="1"></option>
        <option th:value="2" th:text="2"></option>
        <option th:value="3" th:text="3"></option>
        <option th:value="4" th:text="4"></option>
        <option th:value="5" th:text="5"></option>
    </select>
    <br>
    <h3>Author: </h3>
    <input th:field="*{author}" required>
    <br>
    <h3>Feedback: </h3>
    <textarea th:field="*{feedback}" cols="50" required></textarea>
    <br><br><br>
    <button>Comment</button>
</form>
<hr>
<h3>All comment:</h3>
<div th:each="comment : ${comments}" class="card w-100">
    <div class="card-body p-4">
        <div class="">
            <h5 th:text="${comment.author}"></h5>
            <p th:text="'Have evaluated: ' + ${comment.rate} + ' point'" class="small"></p>
            <p th:text="${comment.postTime}" class="small"></p>
            <p th:text="${comment.feedback}"></p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                    <a th:href="@{/like/{id}(id = ${comment.id})}" href="#" class="link-muted me-2">
                        <i class="fas fa-thumbs-up me-1"></i>
                        <span th:text="${comment.likes}"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid col-10 mt-5 d-inline-flex justify-content-center">
    <a th:href="@{/(page=${comments.number - 1})}" th:if="${comments.hasPrevious()}">Previous</a>
    <span th:text="${comments.number + 1}"></span>/<span th:text="${comments.totalPages}"></span>
    <a th:href="@{/(page=${comments.number + 1})}" th:if="${comments.hasNext()}">Next</a>
</div>
<script>
    let query = 'https://api.nasa.gov/planetary/apod?api_key=41nFQh1FAhhNNUECFWcoodREtZe2SXumKw1H039o';
    let request = new XMLHttpRequest();
    request.open('GET', query);
    request.onload = function () {
        if (request.status === 200) {
            let response = JSON.parse(request.responseText);
            document.getElementById('img-of-the-day').setAttribute('src', response.url);
        }
    };
    request.send();
</script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.3.0/mdb.min.js"></script>
</body>
</html>