<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/component/layout :: head"><title>#</title></head>
<body>
<nav th:replace="/component/layout :: navbar"></nav>
    <div th:object="${post}" class="card container-fluid col-8 mt-5">
        <img th:src="*{image}" th:alt="*{title}" class="card-img-top" src="" alt="">
        <div class="card-body">
            <h5 th:text="*{title}" class="card-title">Card title</h5>
            <pre th:text="*{content}" class="card-text"></pre>
            <div class="d-inline-flex justify-content-around col-12">
                <a th:href="@{/edit/__${post.id}__}" class="btn btn-primary">Edit</a>
                <a th:href="@{/delete/__${post.id}__}" class="btn btn-primary">Delete</a>
            </div>
        </div>
    </div>

<script th:replace="/component/layout :: script"></script>
</body>
</html>