<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/component/layout :: head"><title>#</title></head>
<body>
<nav th:replace="/component/layout :: navbar"></nav>
    <div th:object="${post}" class="card container-fluid col-8 mt-5">
        <img th:src="*{image}" th:alt="*{title}" class="card-img-top" src="" alt="">
        <div class="card-body">
            <h5 th:text="*{title}" class="card-title">Card title</h5>
            <p th:text="'Posting Time: ' + *{postTime}" th:value="*{postTime}" class="card-text post-time">
                <small class="text-muted"></small>
            </p>
            <pre th:text="*{content}" class="card-text"></pre>
            <div class="d-inline-flex justify-content-around col-12">
                <a th:href="@{/edit/__${post.id}__}" class="btn btn-primary">Edit</a>
                <a th:href="@{/delete/__${post.id}__}" class="btn btn-primary">Delete</a>
            </div>
        </div>
    </div>
<script th:replace="/component/layout :: script"></script>
<script>
    document.onload = () => {
        console.log('abc')
        let postTimeNode = document.querySelector(".post-time");
        console.log(postTimeNode);
        let dateFormat = moment(postTimeNode.value, moment.ISO_8601).format("dd/MM/yyyy HH:mm a");
        console.log(dateFormat);
        postTimeNode.innerHTML = dateFormat;
    }
</script>
</body>
</html>