<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/component/layout :: head"><title>#</title></head>
<body>
<nav th:replace="/component/layout :: navbar"></nav>
<div class="container-fluid col-12">
    <div class="row">
        <div th:replace="/component/layout :: sidebar"></div>
        <div class="container-fluid col-10 float-left">
            <p th:text="${cities.isEmpty()} ? 'Không tìm thấy thành phố với từ khóa ' + ${query}"
               class="h4 mt-3 ml-5">
            </p>
            <div th:replace="/index :: card-loop"></div>
            <div class="container-fluid col-10 mt-5 d-inline-flex justify-content-center">
                <a th:href="@{/city/search(query=${query}, page=${cities.number - 1})}"
                   th:if="${cities.hasPrevious()}">Previous</a>
                <span th:text="${cities.number + 1}"></span>/<span th:text="${cities.totalPages}"></span>
                <a th:href="@{/city/search(query=${query}, page=${cities.number + 1})}"
                   th:if="${cities.hasNext()}">Next</a>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <footer th:replace="/component/layout :: footer"></footer>
    </div>
</div>
<script th:replace="/component/layout :: script"></script>
<!--<script th:replace="/index :: format-by-moment"></script>-->
</body>
</html>